name: "TODO to Issue"

on:
  push:
    branches: ["main", "develop"]

permissions:
  contents: read
  issues: write 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: "TODO to Issue"
        uses: alstr/todo-to-issue-action@v5
        with:
          INSERT_ISSUE_URLS: "false"
          CLOSE_ISSUES: "true"
          AUTO_ASSIGN: "true"
          LABELS: "type: todo"
